@import '_colours'
@import '_easing'
@import '_decorations'

.menu
  h2
    color: $lightpink
    font-size: 2em
    &:after
      @include little-border-collapsed($lightpink)
      margin-left: 0
      margin-top: 10px

  &.open
    h2:after
      @include little-border-expand(1s)


  .menu-content
    margin: auto
    width: 100%

@media (min-width: 520px)
  .menu
    .menu-content
      margin: auto
      width: 80%
